# python project
.venv
venv
__pycache__
**/*.pyc
*pyc
*.pyc

# nodejs project
node_modules

# golang project
vendor*
.vendor*

# common
log
logs
**/*.log

**/bin/**
**/build/**

config.yaml
config.json
